@mixin bg-color($color) {
    background-color: $color;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
}


@mixin color($modifier) {

    @each $color,
    $hex in $colors {
        @if($modifier==$color) {
            color: $hex;
        }
    }
}


@mixin border($color) {
    border: 1px solid $color;
}

@mixin background-color {

    @each $colour,
    $hex in $colors {
        &--bg-#{""+$colour} {
            background-color: $hex;
        }
    }
}

@mixin background-linear($primary, $secondary) {
    @each $position in $positions {
        &--background-linear-#{""+$position} {
            background: linear-gradient(to #{$position}, $primary, $secondary);
        }

    }

}

@mixin rounded-top {
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
}