$primary : #9356DC;
$secondary : #FF79DA;
$tertiary : #99E2D0;

$colors : (primary : #9356DC, secondary : #FF79DA, tertiary : #99E2D0, gray:#eaeaea, white:white, black:black, lightbl: #454545, light-gray: #f6f6f6, dark-gray:#868282, transparent:transparent);

$mobile-breakpoint : 768px;
$tablet-breakpoint : 992px;
$min-large-breakpoint : 992px;
$mobile :"screen and (max-width: #{$mobile-breakpoint})";
$tablet :"screen and (max-width: #{$tablet-breakpoint})";
$large : "screen and (min-width: #{$min-large-breakpoint})";
$font-title-logo : "Shrikhand";
$font-text: "Roboto";
$positions:(top, left, right, bottom);
$rounded-sizes : (sm:2px, md:17px, xl:67px, circle: 50%);

$weight: (100,
    200,
    300,
    400,
    /* normal */
    500,
    600,
    700,
    /* gras */
    800,
    900, )