.btn {
    padding: 1rem 1.3rem;
    width: 100%;
    text-decoration: none;
    border: none;



    @for $sizeY from 1 to 15 {
        &--py-#{""+$sizeY} {
            padding-top: $sizeY * .25rem;
            padding-bottom: $sizeY * .25rem;

        }
    }

    @for $width from 1 to 15 {
        &--w-#{""+$width} {
            width: $width * 5%;

        }
    }

    @for $sizeL from 0 to 50 {
        &--pl-#{""+$sizeL} {
            padding-left: $sizeL * .25rem;
        }
    }

    @for $sizeR from 0 to 50 {
        &--pr-#{""+$sizeR} {
            padding-right: $sizeR * .25rem;
        }
    }

    @for $size from 0 to 50 {
        &--mr-#{""+$size} {
            margin-right: $size * .25rem;
        }
    }

    @each $type,
    $size in $rounded-sizes {
        &--rounded-#{""+$type} {
            border-radius: $size;
        }
    }

    @each $colour,
    $hex in $colors {
        &--bg-#{""+$colour} {
            background-color: $hex;
        }
    }

    @each $colour,
    $hex in $colors {
        &--text-#{""+$colour} {
            color: $hex;
        }
    }

    &--shadow {
        box-shadow: 1px 4px 8px map-get($colors, gray);
    }

    &--border-none {
        border: none
    }

    @include background-linear($primary, $secondary);

    &--text-medium {
        font-weight: 400;
        font-size: 1.1rem;
    }

    &--hover:hover {
        background: linear-gradient(to top, lighten($primary, 10%), lighten($secondary, 10%));
    }


}