.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;

    &__location {
        @include flex-center;
        text-decoration: none;
        padding: 1rem;
        margin-bottom: 1px;
        @include background-color
    }

    @media #{$tablet} {
        display: block;

        &__logo {

            box-shadow: 1.95px 1.95px 2px #d5d0d0;
            margin-bottom: 2px;
            padding: 7px;
        }

        img {
            width: 45%;
        }

        &__location {
            margin-top: 1px;
            font-size: 16px;
            font-family: "roboto", sans serif;
            font-weight: bold;

        }

        &__location i {
            margin-right: 24px;
        }

        &__location a {
            text-decoration: none;
            @include color(lightbl);
            margin-right: 24px;
        }

    }

}