.projet-info {
    text-align: center;
    padding: 15px 2.5rem;
    @include background-color;

    @media #{$tablet} {
        font-weight: lighter;

        &__heading {

            font-size: 24px;
            margin-bottom: 0px;
        }

        &__description {

            font-size: 1.13rem;

        }

        &__button {
            margin-top: 3rem;
            margin-bottom: 5rem;
        }


    }
}

.proj-functioning {
    padding: 1.50rem;
    padding-bottom: 5rem;

    &__heading {
        text-align: start;
    }

    button:hover i {
        color: $primary;
        background-color: lighten($primary, 35%);
    }

    button:hover,
    i:nth-child(2) {
        color: black;
        background-color: lighten($primary, 35%);
    }

    span {
        background-color: $primary;
        padding: 0.2rem 0.4rem;
        border-radius: 50%;
        position: relative;
        color: white;
        top: 2.9rem;
        right: .7rem;
    }

    i {
        margin-right: 1.8rem;
        font-size: larger;
        color: map-get($colors, dark-gray);
    }

}

.restaurant {
    padding: 3rem 1.2rem;
    background-color: map-get($colors, gray);

    &__card {
        border-radius: 23px;
        position: relative;
        overflow: hidden;
        margin: 21px 0px;
    }

    &__badge {
        background-color: #98e1cf;
        color: #129172;
        padding: 9px;
        position: absolute;
        right: 17px;
        top: 14px;

        &--rounded {
            border-radius: 3px;
        }

    }


    &__img {
        object-fit: cover;
        object-position: 50% 61%;
        height: 180px;
    }

    &__information {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

    }

    &__name,
    &__location {
        margin: 0
    }

    &__location {
        margin-top: 7px;

        &--color-gray {
            color: map-get($colors, dark-gray);
        }
    }


}