@keyframes display {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



main {
    background-color: map-get($colors, light-gray);
}

.dishess {
    @include rounded-top(40);
    position: relative;
    bottom: 46px;
    background-color: map-get($colors, light-gray);
    padding: 25px 14px;

    &__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 0;
        border-radius: map-get($rounded-sizes, md);
        animation: display 2s forwards;
        overflow: hidden;

        &:not(:nth-child(2)) {
            margin-top: 15px;
        }

        &:hover .dishess__content {
            width: 70%;
        }

        &:hover .dishess__check {
            margin-right: 0px;
        }

        &:hover .dishess__check__icon {

            transform: rotate(0deg);
            transition: all .7s ease-in-out;
            opacity: 1;
        }
    }

    &__content {
        width: 100%;
        margin: 12px 0 12px 12px;

        h4 {
            margin: 0;
        }

        p {
            margin: 0;
        }
    }

    &__composition {

        margin-bottom: 13px;


    }

    &__composition:not(:nth-child(2)) {
        margin-top: 45px;
    }

    &__name {
        width: 95%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
    }

    &__accompaniement {
        color: map-get($colors, dark-gray);
        width: 95%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;


    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $font-title-logo, sans-serif;
        font-size: 0.9rem;
    }


    &__heading {
        font-family: $font-text, sans serif;
        margin-left: 6px;
        margin-bottom: 14px;


        &--uppercase {
            text-transform: uppercase;
        }

        &::after {
            content: "";
            width: 43px;
            margin-top: 3px;
            height: 3px;
            display: block;
            background-color: #99E2D0;
        }




    }

    &__check {
        height: 70px;
        width: 60px;
        // opacity: 0;
        background-color: $tertiary;
        margin-left: 10px;
        margin-right: -54px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.7s ease-in-out;
        // transform: translateX(-20px);
        color: white;


        &__icon {
            transform: rotate(100deg);
            opacity: .3;
        }
    }




    &__btn {
        margin-top: 50px;
        text-align: center;

    }

}

.delay1 {
    animation-delay: .1s;
}

.delay2 {
    animation-delay: .6s;
}

.delay3 {
    animation-delay: 1.3s;
}

.delay4 {
    animation-delay: 3s;
}